<ion-content>
    <ion-slides pager>
        <ion-slide>
            <div class="img_div">
                <img src="assets/image/slide-first.png">
                <h3 class="slide_name">Discover Restaurant <br>Near By You</h3>
                <p class="slide_info">We make it simple to find food for you just enter your address and do the rest
                </p>
            </div>

        </ion-slide>
        <ion-slide>
            <div class="img_div">
                <img src="assets/image/slide-second.png">
                <h3 class="slide_name">Restaurant to your Home <br>instant delivery</h3>
                <p class="slide_info">We provide door to door service in your time with best quality of food
                </p>
            </div>
        </ion-slide>
        <ion-slide>

            <div class="img_div">
                <img src="assets/image/slide-last.png">
                <h3 class="slide_name">Pickup your delivery<br> with sweet smile</h3>
                <p class="slide_info">We make food ordering fast, simple and free -no matter if your order
                    online or cash
                </p>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-button class="skip ion-float-right" (click)="home()">
        Skip
    </ion-button>
</ion-content>